%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-

{sys, [
       {lib_dirs, ["/mnt/dev/ejms/ebin/"]},
       {rel, "ejms", "0.5.0",
        [kernel,
         stdlib,
         {ejms, permanent}
        ]},
       %% {boot_rel, "ejms"},
       {relocatable, true},
       {profile, standalone},
       {app, ejms, [{vsn, "0.5.0"},
                        {app_file, all},
                        {debug_info, keep}]}
      ]}.
